@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,100);
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  position: relative;
  background: #26baa5;
  font-family: "Roboto", sans-serif;
}

.thumbur {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%; /* Hace el contenedor circular */
    box-shadow: #777;
    /* Imagen de fondo */
    background-image: url('../image/logo.png');
    background-size: contain; /* La imagen se ajustará completamente dentro del círculo */
    background-position: center; /* Centra la imagen en el círculo */
    background-repeat: no-repeat;

    margin: auto; /* Centra el contenedor dentro de su padre (si es bloque o flexbox) */
    background-color: #ffffff; /* Color de fondo visible si la imagen no cubre completamente el área */
}



.panel-lite {
  margin: 5px auto;
  max-width: 360px;
  background: #fff;
  padding: 45px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.panel-lite h4 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26baa5;
  margin: 15px auto;
}
.panel-lite a {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  color: #26baa5;
  font-size: 14px;
}

.form-group {
  position: relative;
  font-size: 15px;
  color: #666;
}
.form-group + .form-group {
  margin-top: 30px;
}
.form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  transition: 0.3s;
}
.form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  transition: 0.3s;
  border-bottom: 1px solid #777;
}
.form-group .form-control:invalid {
  outline: none;
}
.form-group .form-control:focus, .form-group .form-control:valid {
  outline: none;
  color: #0f8271;
  font-size: 1.3em;
  box-shadow: 0 1px #26baa5;
  border-color: #26baa5;
}
/* .form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
  font-size: 0.7em;
  transform: translateY(-15px);
} */
.form-group .form-control:focus + .form-label, 
.form-group .form-control:valid + .form-label,
.form-group .form-control:not([value=""]) + .form-label, /* Asegura que el label se mueva si el campo no está vacío */
.form-group .form-control:focus:invalid + .form-label { /* El label se moverá incluso si el campo es inválido */
  font-size: 0.7em;
  transform: translateY(-15px);
}


.floating-btn {
    background: rgb(55,95,122);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 32px;
    border: none;
    position: absolute;
    margin: auto;
    transition: 0.3s;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
    margin: auto;
    right: 5px;
    bottom: 20px;
    cursor: pointer;
}
.floating-btn:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 5px 11px rgba(0, 0, 0, 0.23);
}
.floating-btn:hover .icon-arrow {
  transform: rotate(45deg) scale(1.2);
}
.floating-btn:focus, .floating-btn:active {
  outline: none;
}

.icon-arrow {
  position: relative;
  width: 13px;
  height: 13px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  display: block;
  transform: rotate(45deg);
  margin: auto;
  transition: 0.3s;
}
.icon-arrow:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 3px;
  background: #fff;
  left: -5px;
  top: 5px;
  transform: rotate(-45deg);
}


/**%%%%%%%%%%%%%%%%%%%%%%%  titulo %%%%%%%%%%%%%%%%%%%%%%%%%%*/

.title {
    text-align: center; /* Centra el título horizontalmente */
    font-size: 18px; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Hace el texto más grueso */
    margin-bottom: 5px; /* Espacio entre el título y el círculo */
    /*-color: #333; /* Color del texto, ajustable según tu diseño */
    color: rgb(55, 95, 122);
}


/*%%%%%%%%%%%%%%%%%%%%%%  error de validacion %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.is-invalid {
  border-color: #dc3545;  /* Color rojo */
  font-size:7px;
}

.text-danger {
  color: #dc3545;  /* Color rojo para el mensaje */
  font-size: 7px; /* Tamaño pequeño para el mensaje */
}

